html {
    height: 100%;
}

body {
    height: 100%;
}

* {
    box-sizing: border-box;
    text-align: center;
}

#salelist {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 2% 0;
}

#salelist > * {
    margin: 1% 2%;
}

h2 {
    margin: 3% 0;
}

img {
    height: 300px;
    width: 300px;
}

a > button {
    height: 30px;
    width: 100px;
    margin: 10% 0;
    background-color: orange;
}

#figcaption > button {
    height: 30px;
    width: 100px;
    margin: 10% 0;
    background-color: orange;
}

.quantity-personalization {
    display: flex;
    justify-content: center;   
}

.dropbtn {
    background-color: orange;
    font-size: 16px;
    border: none;
    min-width: 100px;
}
  
.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content p {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
.dropdown-content p:hover {
    background-color: #ddd;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}

#cartpage {
    display: flex;
    height: 100%;
    
}

@media only screen and (max-width: 480px) {
    #cartpage {
        display: block;
    }
    nav {
        padding: 5% 0;
        width: 100% !important;
    }
    body {
        height: unset;
    }
    footer > * {
        margin: 2% 0;
    }
}

#cart {
    flex: 1;
    overflow-y: scroll;
    padding: 1% 0;
}

#cart > * {
    margin: 5% auto;
}


#form {
    flex: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10% 0;
}

form {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

input {
    border: 1px solid black;
    width: 300px;
    height: 30px;
    background-color: #E8E8E8;
}

input:hover {
    cursor: not-allowed;
}

header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 2% 0;
    background-color: orange;
}

header > img {
    height: 90px;
    width: 300px;
    
}

.cart {
    font-size: 40px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    width: 20%;
}

footer {
    background-color: orange;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 2% 0;
}

footer > * {
    font-size: 25px;
}

a:link {
    text-decoration: none;
}

#item {
    display: flex;
    justify-content: center;
}

button {
    background-color: orange;
    border-radius: 5000px;
    height: 25px;
}

form > button {
    width: 50%;
}

#submitorder:hover {
    cursor: not-allowed;
}
