* {
    box-sizing: border-box;
    text-align: center;
}

#salelist {
    background-color: hotpink;
    padding: 2% 0;
}

#salelist > * {
    margin: 1% 2%;
}

figure {
    display: inline-block;
}

h2 {
    margin: 3% 0;
}

img {
    height: 300px;
    width: 300px;
}

a > button {
    height: 30px;
    width: 100px;
    margin: 10% 0;
    background-color: greenyellow;
}

#singleitem {
    background-color: greenyellow;
    padding: 2% 0;
}

#singleitem > * {
    margin: 1% 2%;
}

label {
    margin: 0 1%;
}

label > * {
    margin: 0 1%;
}

#figcaption > button {
    height: 30px;
    width: 100px;
    margin: 10% 0;
    background-color: hotpink;
}
