* {
    box-sizing: border-box;
    text-align: center;
}

div {
    padding: 2% 0;
    background-color:hotpink;
}

div > * {
    margin: 1% 2%;
}

figure {
    display: inline-block;
}

h2 {
    margin: 3% 0;
}

img {
    height: 300px;
    width: 300px;
}

button {
    height: 30px;
    width: 100px;
    margin: 3% 0;
    background-color: greenyellow;
}

#singleitem {
    padding: 2% 0;
    background-color: greenyellow;
}

#singleitem > * {
    margin: 1% 2%;
}

.dynamic-content {
   display: none;
}